@import "tailwindcss";

@font-face {
  font-family: 'Kalameh';
  src: url('./assets/fonts/KalamehWeb-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('./assets/fonts/KalamehWeb-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('./assets/fonts/KalamehWeb-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('./assets/fonts/KalamehWeb-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('./assets/fonts/KalamehWeb-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('./assets/fonts/KalamehWeb-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('./assets/fonts/KalamehWeb-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('./assets/fonts/KalamehWeb-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('./assets/fonts/KalamehWeb-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



@theme {
  --font-kalameh: 'Kalameh', sans-serif;
}

:root {
  --bg: 255 255 255;
  --fg: 15 23 42;
  --primary: 37 99 235;
}

html[data-theme="dark"] {
  --bg: 15 23 42;
  --fg: 248 250 252;
  --primary: 96 165 250;
}

html[data-theme="green"] {
  --bg: 236 253 245;
  --fg: 6 78 59;
  --primary: 16 185 129;
}

* {
  font-family: var(--font-kalameh);

}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #646cff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #535bf2;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #646cff transparent;
}

/* WebKit browsers */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {

  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #646cff;
  border-radius: 6px;

  background-clip: padding-box;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #535bf2;
}

/* corner */
.custom-scroll::-webkit-scrollbar-corner {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.p-column-header-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.p-column-header-content {
  justify-content: center;
  padding: 15px 0;
}

/* .p-datatable-thead {
  background-color: #4551f9;
} */

.pagination {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.pagination-button {
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}


.pagination-button.active {
  background-color: #007bff;
  color: white;
}

.p-link{
  color: #1958f7;
}
.p-datatable .p-column-header-content span.p-column-title {
  width: 80%;
  text-align: center;
}

.p-datatable-tbody .p-datatable-emptymessage td {
  text-align: center;
}

.p-paginator .p-paginator-prev .p-paginator-icon,
.p-paginator .p-paginator-next .p-paginator-icon,
.p-paginator-first .p-paginator-icon,
.p-paginator-last .p-paginator-icon {
  transform: rotate(180deg);
  }

/* در فایل CSS پروژه */
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #2196F3 !important;
  color: white !important;
  border-color: #2196F3 !important;
}

.p-paginator-pages{
  padding: 0 1rem;
}
.p-paginator .p-paginator-page {
  padding: 7px;
  margin: 5px;
  border-radius: 5px;
  transition: 0.4s !important;
 
}
.p-paginator .p-paginator-page:hover{
  background-color: #3e98f890;
  color: #ffff;
  
}
/* رنگ آبی کم‌رنگ برای ردیف انتخاب‌شده (override کلاس p-highlight) */
.p-datatable .p-datatable-tbody > tr.p-highlight {
  background-color: rgba(3, 99, 255, 0.12) !important; /* آبی روشن */
  /* اگر خواستی متن تیره‌تر بشه: */
  color: inherit;
}






/* :root, body {
  -webkit-tap-highlight-color: transparent;
}
body * { cursor: none !important; }
input, textarea, select, button, a[role="button"] { cursor: auto !important; }  */